h2 {
  margin: 25px auto;
  text-align: center;
}

.td-id-customer-order-details {
  background-color: #2fc18c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.td-descripition-customer-order-details {
  background-color: #eaf1ef;
  width: 250px;
}

.td-quantity-customer-order-details {
  background-color: #036b52;
  color: white;
  text-align: center;
}

.td-unitprice-customer-order-details {
  background-color: #421981;
  color: white;
  text-align: center;
}

.td-subprice-customer-order-details {
  background-color: #056cf9;
  color: white;
  text-align: center;
}

.page-customer-order-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.details-page-customer-order-details {
  align-items: center;
  justify-content: space-between;
  background-color: #b1c2be;
  display: flex;
  height: 30px;
  width: 60%;
  min-width: 60%;
}

.details-page-customer-order-details p {
  padding-left: 15px;
  padding-right: 15px;
}

.details-page-customer-order-details button {
  margin-left: 20px;
  margin-right: 20px;
}

.page-customer-order-details table {
  margin-top: 15px;
  width: 750px;
}

.page-customer-order-details h3 {
  background-color: #036b52;
  color: white;
  padding: 5px 35px;
  right: 5%;
}


.id-details-customer-order-details {
  font-weight: 500;
}

.date-details-customer-order-details {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 5px;
}

.status-details-customer-order-details {
  background-color: #00cc9b;
  padding: 3px 15px;
  border-radius: 5px;
}

#button-delivery-check:not(:disabled) {
  color: white;
  background-color: #036B52;
  padding: 6.1px 15px;
  border-radius: 5px;
}

#button-delivery-check:disabled {
  background-color: #b1c2be;
  border-radius: 5px;
}
